/*******************************************************************************
 *
 * Global
 *
 ******************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);

html {
	height: 100%;
}

body {
	height: 100%;
	
}

a {
	text-decoration: none;
	color: $brandMagenta;
}
