/*******************************************************************************
 *
 * Images
 *
 ******************************************************************************/

.image {
    margin: 0 auto;


    &__fullSize {
        max-width: 100%;
        height: auto;
    }

    &__halfSize {

    }
}
