/*******************************************************************************
 *
 * Navigation
 *
 ******************************************************************************/

.sidenav {
    height: 100%; /* 100% Full-height */
    width: $marginMenu; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white; /* White*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */

    display: none;

    &__container {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        margin: auto;
    }

    &__menu-links-container {
        border-bottom: solid 2px black;

        &__links {
            display: block;

            font-weight: $normal;
            padding: 4px 4px 4px 32px;
            text-decoration: none;
            font-size: $fontSizeBase;

            color: black;

            &:hover, &:active{
                font-weight: $bold;
            }
        }
    }

    &__soMe-container {
        display: flex;

        margin-top: $marginMenu;


        &__links {
            margin-left: 50%;

            color: black;
        }
    }

    @media screen and (max-width: 1024px) {
        display: none;

    }
}

//Responsive Burger Menü Icon
.icon {
    display: none;

    color: black;

}

@media screen and (max-width: 1024px) {

    .icon {
        float: right;
        display: block;

        position: absolute;
        left: 2%;
        top: 1%;
    }
}

